/*****************************************************
        CSS to create header buttons.
*************************************************/
                   
.button
{    
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;    
    -webkit-border-radius: 5px;
    border-radius: 5px; /* Opera, Chrome */ 
    -moz-border-radius: 5px; /* Mozilla (FF, Seamonkey) */
    /*font: normal 14px/16px Helvetica, Arial, sans-serif;*/
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5; 
}
                
.button.custom
{
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b0cde5),color-stop(0.5, #87b1d6), color-stop(0.5, #75a6d1), to(#6097c7));*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9bbedc), to(#6097c7));
    background-image:linear-gradient(#9bbedc,#6097c7); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9bbedc', EndColorStr='#6097c7')"; 
    /*border: solid 0px rgba(73, 133, 185, 0.75);*/
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5;  
}
                
.button.home
{
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b0cde5),color-stop(0.5, #87b1d6), color-stop(0.5, #75a6d1), to(#6097c7));*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9bbedc), to(#6097c7));
    background-image:linear-gradient(#9bbedc,#6097c7); 
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9bbedc', EndColorStr='#6097c7')"; 
    /*border: solid 0px rgba(73, 133, 185, 0.75);*/
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5;  
}
                
.button.custom:hover
{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, 
				        from(#4775a3), 
				        color-stop(0.4, #4775a3),
				        color-stop(0.5, #3f6992),
				        to(#3f6992));
    background-image:linear-gradient(#4775a3,#3f6992);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#4775a3', EndColorStr='#3f6992')"; 
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5; 
}
header.button
{
}
.button.custom
{
    position: relative;
    padding-left: 10px;
    margin-left: 2px;
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5; 
}

.button.home
{
    position: relative;
    padding-left: 5px;
    margin-left: 8px;
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5;  
}
.back.custom > span
{
    /*background-image: -webkit-gradient(linear, left top, right bottom, from(#b0cde5),color-stop(0.5, #87b1d6), color-stop(0.5, #75a6d1), to(#6097c7));*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9bbedc), to(#6097c7));
    background-image: -ms-gradient(linear, 0% 0%, 0% 100%, from(#9bbedc), to(#6097c7));
    background-image: -moz-gradient(linear, 0% 0%, 0% 100%, from(#9bbedc), to(#6097c7));
    background-image: -o-gradient(linear, 0% 0%, 0% 100%, from(#9bbedc), to(#6097c7));
    background-image:linear-gradient(#9bbedc,#6097c7);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9bbedc', EndColorStr='#6097c7')"; 
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5;               
    -webkit-border-top-left-radius: 6.8px;
    -webkit-border-bottom-right-radius: 8px;
    -ms-border-top-left-radius: 6.8px;
    -ms-border-bottom-right-radius: 8px;
    -moz-border-top-left-radius: 6.8px;
    -moz-border-bottom-right-radius: 8px;
    -o-border-top-left-radius: 6.8px;
    -o-border-bottom-right-radius: 8px;
    border-top-left-radius: 6.8px;
    border-bottom-right-radius: 8px;
    
    height: 16px;
    width: 20px;
    display: inline-block;
    -webkit-transform: rotate(45deg) skew(10deg, 10deg); /* Safari and Chrome */
    -ms-transform: rotate(45deg) skew(10deg, 10deg); /* IE 9 */
    -o-transform:  rotate(45deg) skew(10deg, 10deg); /* Opera */
    -moz-transform:  rotate(45deg) skew(10deg, 10deg); /* Firefox */
    
    -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, 
				        from(#000000), 
				        color-stop(0.5,#000000), 
				        color-stop(0.5, transparent), 
				        to(transparent));
	
	-ms-mask-image: -ms-gradient(linear, left bottom, right top, 
				        from(#000000), 
				        color-stop(0.4,#000000), 
				        color-stop(0.5, transparent), 
				        to(transparent));
	-moz-mask-image: -moz-linear-gradient(linear, left bottom, right top, 
				        from(#000000), 
				        color-stop(0.4,#000000), 
				        color-stop(0.5, transparent), 
				        to(transparent));
	-o-mask-image: -o-gradient(linear, left bottom, right top, 
				        from(#000000), 
				        color-stop(0.4,#000000), 
				        color-stop(0.5, transparent), 
				        to(transparent));
	position: absolute;
    left: -8px;
    top: 3px;
    -webkit-background-clip: content;
    -ms-background-clip: content;
    -moz-background-clip: content;
    -o-background-clip: content;
    height: 19px;
}

.back:hover > span
{
    border-left: solid 1px rgba(73, 133, 185, 0.75);
    border-bottom: solid 1px rgba(73, 133, 185, 0.75);
    border-top: solid 1px rgba(73, 133, 185, 0.75);
    border-right: solid 1px rgba(73, 133, 185, 0.75);
    border-color: #407fb5; 
    
    background-image: -webkit-gradient(linear, left top, right bottom, 
                        from(#4775a3), 
                        color-stop(0.4, #4775a3),
                        color-stop(0.5, #3f6992),
                        to(#3f6992));
    background-image: -ms-gradient(linear, left top, right bottom, 
                        from(#4775a3), 
                        color-stop(0.4, #4775a3),
                        color-stop(0.5, #3f6992),
                        to(#3f6992));
	background-image: -moz-gradient(linear, left top, right bottom, 
                        from(#4775a3), 
                        color-stop(0.4, #4775a3),
                        color-stop(0.5, #3f6992),
                        to(#3f6992));
	background-image: -o-gradient(linear, left top, right bottom, 
                        from(#4775a3), 
                        color-stop(0.4, #4775a3),
                        color-stop(0.5, #3f6992),
                        to(#3f6992));
   background-image:linear-gradient(#4775a3,#3f6992);                     
}
.customFooter
{
    color: #336699;
    text-decoration: none;
}
.home.custom > span
{
    display: block;
    height: 15px;
    width: 17px;
    background-image: url('../images/homebtn.png');
    /*background-image: -webkit-gradient(linear, left top, right bottom, 
    from(#7d828c),
    color-stop(0.5, #303749), 
    color-stop(0.5, #121a2e), 
    to(#121a2e));
    border-left: solid 1px rgba(79, 79, 79, 0.75);
    border-bottom: solid 1px rgba(79, 79, 79, 0.75);*/
    padding-top:2px;
    position: absolute;
    /* -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, 
    from(#000000), 
    color-stop(0.5,#000000), 
    color-stop(0.5, transparent), 
    to(transparent));
    -webkit-transform: rotate(45deg);*/
    -webkit-mask-image: url('../images/homebtn.png');
    -ms-mask-image: url('../images/homebtn.png');
    -moz-mask-image: url('../images/homebtn.png');
    -o-mask-image: url('../images/homebtn.png');
    left: 3px;
    top: 4px;
}

.menu.custom > span
{
    display: block;
    height: 14px;
    width: 19px;
    background-image: url('../images/list.png');
    /*background-image: -webkit-gradient(linear, left top, right bottom, 
    from(#7d828c),
    color-stop(0.5, #303749), 
    color-stop(0.5, #121a2e), 
    to(#121a2e));
    border-left: solid 1px rgba(79, 79, 79, 0.75);
    border-bottom: solid 1px rgba(79, 79, 79, 0.75);*/
    padding-top:2px;
    position: absolute;
    /* -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, 
    from(#000000), 
    color-stop(0.5,#000000), 
    color-stop(0.5, transparent), 
    to(transparent));
    -webkit-transform: rotate(45deg);*/
    -webkit-mask-image: url('../images/list.png');
    -ms-mask-image: url('../images/list.png');
    -moz-mask-image: url('../images/list.png');
    -o-mask-image: url('../images/list.png');
    left: 3px;
    top: 5px;
}

/***********************************************************
    New button for all browser
***************************************************************/
.r2e-arrow-left {
    display : block;
    position:absolute;
    z-index : 0;
    left:12px;
    top: 3px;
    height:27px;
    width:22px;
    padding: 0 10px 0 6px;
    background-size : 27px 27px;

    background-repeat:repeat-x;
    background-position :0;
    background-image : -moz-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -o-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -webkit-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9bbedc', endColorstr='#6097c7');/*For IE7-8-9*/
    border-radius: 5px;

    /*border-bottom: 1px solid rgba(255,255,255,0.4);*/
    border: 1px solid rgba(64,127,181,1);
    
    /*box-shadow :0 -1px 1px rgba(64,127,181,0.2)inset,
        0 1px 2px rgba(64,127,181,0.8)inset;*/
    color: rgba(64,127,181,1);
    /*color:#fff;*/
    /*text-shadow : 0px -1px 0px rgba(0,0,0,0.8);*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.r2e-arrow-left:before{
    position:absolute;
    content : ' ';
    left:-8px;
    top:3px;
    height : 20px;
    width: 21px;
    z-index : 1;

    background-repeat:repeat-x;
    background-size : 27px 27px;
    background-position :-1px -1.5px;
    background-image : -moz-linear-gradient(
        45deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 52%,
        rgba(255,255,255,0.4) 100%
        );
    background-image : -o-linear-gradient(
        45deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 52%,
        rgba(255,255,255,0.4) 100%
        );
    background-image : -webkit-linear-gradient(
        45deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 52%,
        rgba(255,255,255,0.4) 100%
        );
    background-image : linear-gradient(
        45deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 52%,
        rgba(255,255,255,0.4) 100%
        );
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9bbedc', endColorstr='#6097c7');/*For IE7-8-9*/
    -moz-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
    -o-transform : rotate(-45deg) skewY(-10deg) skewX(-10deg);
    -webkit-transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
    transform : rotateZ(-45deg) skewY(-10deg) skewX(-10deg);
    transform: rotate(-45deg) skew(-10deg, -10deg);
    border-top-right-radius : 8px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0;
    border-bottom-left-radius : 10px;

    /*border-left : 1px solid rgba(255,255,255,0.4);*/
    border: 1px solid rgba(64,127,181,1);
    /*box-shadow :  0px 1px 1px rgba(64,127,181,0.7) inset,
        2px -2px 2px -3px rgba(64,127,181,0.5) inset;*/

    /*-webkit-mask-image :
        -webkit-gradient(linear, left top, right bottom,
            from(#000000),
            color-stop(0.4,#000000),
            color-stop(0.5, transparent),
            to(transparent));
    */
}
.r2e-arrow-left:after {
    /*font-family : HelveticaNeue,Helvetica, Arial;*/
    font-family : Arial;
    font-weight: bold;
    font-size : 12px;
    line-height : 27px;
    text-align:center;    
    content: attr(title)"";
    color: #ffffff;
    color: rgba(255,255,255,1);
    text-decoration: none;
    z-index: 999;
    left:-7px;
    padding-left:3px;
    position:relative;
    height:27px;
    line-height:27px;
    display:block;
    border-radius: 5px;
    background-repeat:repeat-x;
    background-size : 27px 27px;
    background-position :-1px -0.5px;
    /*box-shadow :0 -3px 1px -2px rgba(64,127,181,0.3)inset,
                0 4px 2px -3px rgba(64,127,181,0.8)inset;*/
    background-image : -webkit-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -moz-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    background-image : -o-linear-gradient(
        90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 0%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9bbedc', endColorstr='#6097c7');/*For IE7-8-9*/
}
.r2e-arrow-left,
.r2e-arrow-left:after,
.r2e-arrow-left:before {
    /*background-color: rgba(74,108,155,1);originalcolor*/
    background-color: rgba(96,151,199,1);
}

.r2e-arrow-left:hover,
.r2e-arrow-left:hover:after,
.r2e-arrow-left:hover:before {
    /*background-color: rgba(54,88,135,1);hovercolor*/
    /*background-color: #3f6992;*/
    /*IE does not recognize rgba() as a color definition, so it ignores this declaration. 
      Modern browsers will use the rgba() color definition.*/
    background-color: rgba(63,105,146,1);
}